
body{
    background-image: url(./imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


header {
    text-align: center; 
    font-size: 2.6rem;
    text-shadow: #555 2px 2px 3px;
    color:navy;
    background: gold;
    margin:     auto;
    
}



textarea[name="user-input"]{    
    font-size: 20px;
    color: #2124d3;
    background-color: #19d73890;
    margin: auto;
    display: block;
    border-radius: 15px;
    text-align: center;
    font-style: italic;
}


.list {  
    list-style-type: none;
    margin: 5% auto; 
    padding: 0;
    width: 25%;
    text-align: center;
    font-size: 25px;

}

#reset-button {
    margin: 5% auto 5% auto;
    display: block;
    color-scheme: dark;
    font-size: 30px;
    border-radius: 15px;
    background-color: #80008063;
    text-align: center;
}

.elements{
    display: inline-block;
    background-color: #58008045;
    border-radius: 5px;
}

footer {
    background: gold;
    font-size: 25px;
}
