
body{
    /* background-image: url(./imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background-color: #D7DBDD;
    margin: 0;
    padding: 0;
}



header {
    text-align: center; 
    font-size: 1.5rem;
    color: black;
    /* text-shadow: #555 2px 2px 3px; */
    /* color: #e7e7ef; */
    /* background: #3925c4bf; */
    /* margin: 2% 20% 2% 20%; */
    /* border-radius: 20px; */
    /* border: solid 5px #4e155dbb;     */
}

main{
    margin-top: 4rem;
}



textarea{    
    font-size: 1rem;
    color: #333333;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 4rem;
    display: block;
    border-radius: 10px;
    text-align: justify;
    font-style: arial;
    border: solid 5px #4e155dbb;
    padding: 1rem;
    height: 10rem;
}


.list { 
    display:flex; 
    gap: 5rem;
    flex-wrap: wrap; 
    justify-content: center;
  
   
    
    /* list-style-type: none;
    margin: 5% auto 1% auto;
    padding: 0;
    text-align: center;
    color: #333333; */
}

#aboveList{
    margin-top: 7rem;
}



#reset-button {
    margin: 1% auto 5% auto;
    display: block;
    color-scheme: dark;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #46800078;
    text-align: center;
    border: solid 5px #155d1d;
}

.elements{
    list-style: none;
    
    /* display: inline-block;
    background-color: #d4904745;
    border-radius: 5px;
    border: solid 2.5px #4e155dbb; */
    font-size: 1rem;
}

footer {
    background: #333333;
    height: 5rem;
    /* background: gold;
    font-size: 50px;
    text-align: center;
    color: #faf3f3;
    background-color: #2d301f6b;
    font-style: italic; */
    margin-bottom: 0;
}

#paragraph{
    color: whitesmoke;
}

#characters {
    color:#333333;
    background: #f5f4f7;
    border-radius: 15px;
}

#charactersWithoutSpaces {
    color:#333333;
    background: #f5f4f7;
    border-radius: 15px;
}

/* #words {
    color:#333333;
    background: #f5f4f7;
    border-radius: 15px;
} */

#numbers {
    color:#333333;
    background: #f5f4f7;
    border-radius: 15px;
}

#sumOfNumbers {
    color:#333333;
    background: #f5f4f7;
    border-radius: 15px;
}

#average {
    color:#333333;
    background: #f5f4f7;
    border-radius: 15px;
}
